<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 01 Data Types and Data Structures

# Introduction

This tutorial provides a basic introduction to the Python programming language. If you are new to Python, you should run the code snippets while reading this tutorial. If you are an advanced Python user, please feel free to skip this chapter.

# Basic Variable Types
The basic types of variables in Python are: strings, integers, floating point numbers and booleans.

Strings in python are identified as a contiguous set of characters represented in either single quotes (' ') or double quotes (" ").

In [11]:
First_string = 'hey! hola' # almacena la cadena en la variable First_string
Second_string = "Jhon" # almacena la cadena en la variable Second_string
print(First_string + ' ' + Second_string) #Imprime el contenido de First_string y Second_string separados por un espacio

hey! hola Jhon

An integer is a round number with no values after the decimal point.

In [7]:
First_int = 255 #Asigna a la varialbe el valor de 255
print(First_int) #Imprime el valor de la variable First_int
print(type(First_int)) # Imprime el tipo de dato de la variable First_int

255
<class 'int'>

The built-in function int() can convert a string into an integer.

In [23]:
Number = "555" #Asigna a la varialbe el valor de 555
print(type(Number)) #Imprime el tipo de dato de la variable Number
Number_int = int(Number) #Convierte Los datos almacenados en Number de String a int y lo almacena en Number_int
print(type(Number_int)) #Imprime el tipo de dato de la variable Number_int

<class 'str'>
<class 'int'>

A floating point number, or a float, is a real number in mathematics. In Python we need to include a value after a decimal point to define it as a float

In [33]:
my_float_string = "5642" #Asigna a la varialbe el valor de 5642
n_float = float(my_float_string) #Convierte Los datos almacenados en my_float_string de String a float y lo almacena en n_float
print(type(n_float))#Imprime el tipo de dato de la variable n_float

<class 'float'>

As you can see above, if we don't include a decimal value, the variable would be defined as an integer. The built-in function float() can convert a string or an integer into a float.

In [34]:
First_bool = False #Asigna a la varialbe el estado false
print(First_bool) #Imprime el estado en que se encuantra la variable First_bool
print(type(First_bool)) #Imprime el tipo de dato de la variable First_bool

False
<class 'bool'>

A boolean, or bool, is a binary variable. Its value can only be True or False. It is useful when we do some logic operations, which would be covered in our next chapter.

In [40]:
print("Suma ", 50+55) # imprime la cadena de caracteres seguido de la suma entre 50 y 55
print("Resta ", 40-52) # imprime la cadena de caracteres seguido de la Resta entre 40 y 52
print("Multiplicación ", 12*12) # imprime la cadena de caracteres seguido de la Multiplicacion entre 12 y 12
print("División ", 42/7) # imprime la cadena de caracteres seguido de la División entre 42 y 7
print('Exponente', 5**5) # imprime la cadena de caracteres seguido del resultado de base 5 exponente 5

Suma  105
Resta  -12
Multiplicación  144
División  6.0
Exponente 3125

# Basic Math Operations

The basic math operators in python are demonstrated below:

In [46]:
print(7/2) #Imprime el valor de la operacion indicada con valores int en el tipo de dato float pues permite visualizar sus decimales
print(7.0/2) #Imprime el valor de la operacion indicada con valores float e int en el tipo de dato float pues permite visualizar sus decimales

3.5
3.5

# Data Collections

## List
A list is an ordered collection of values. A list is mutable, which means you can change a list's value without changing the list itself. Creating a list is simply putting different comma-separated values between square brackets.

In [61]:
new_list = ['Jhon', 'Eduar', 1,4,7.0] # Crea una lista de nombre new_list y le ingresa distintos datos de distintos tipos
print(new_list) # imprime el contenido de la lista

['Jhon', 'Eduar', 1, 4, 7.0]

The values in a list are called "elements". We can access list elements by indexing. Python index starts from 0. So if you have a list of length n, the index of the first element will be 0, and that of the last element will be n − 1. By the way, the length of a list can be obtained by the built-in function len().

In [63]:
First_list = ['Cero','Dos']#,1,2,3] # Crea una lista de nombre First_list y agrega datos de tipo string
print(len(First_list)) # Imprime la longitud de la lista
print(First_list[0]) # Imprime el primer dato de la lista
print(First_list[len(First_list) -1]) # Imprime el ultimo dato de la lista

5
Cero
8

You can also change the elements in the list by accessing an index and assigning a new value.

In [2]:
Another_list = ['Uno','Dos',3,5,7] # Crea una lista de nombre Another_list y le agrega distintos tipos de datos
Another_list[2] = 'Cero'  # Reemplaza en la lista el valor dato situado en la posicion 2 con el dato de tipo string
print(Another_list) # Inmprime el contenido de la lista

['Uno', 'Dos', 'Cero', 5, 7]

A list can also be sliced with a colon:

In [4]:
Again_a_list = ['Fredo','Godofredo',123,456,789] # Crea una lista de nombre Again_a_list y le agrega distintos tipos de datos
print(Again_a_list[1:4]) # Imprime solo el contenido comenzando desde la posicion 1 hasta la posicion 3

['Godofredo', 123, 456]

The slice starts from the first element indicated, but excludes the last element indicated. Here we select all elements starting from index 1, which refers to the second element:

In [9]:
print(Again_a_list[2:]) # Imprime el contenido de la lista desde La posicion 2 en adelante
print(Again_a_list[1:]) # Imprime el contenido de la lista desde La posicion 1 en adelante

[123, 456, 789]
['Godofredo', 123, 456, 789]

And all elements up to but excluding index 3:

In [11]:
print(Again_a_list[:3])# Imprime el contenido de la lista hasta La posicion 2 
print(Again_a_list[:2])# Imprime el contenido de la lista hasta La posicion

['Fredo', 'Godofredo', 123]
['Fredo', 'Godofredo']

If you wish to add or remove an element from a list, you can use the append() and remove() methods for lists as follows:

In [19]:
A_new_list = ['1', '2',3,'4',5,'7'] # Crea una lista de nombre A_new_list y le agrega distintos tipos de datos
A_new_list.append('7') # Agrega al final de la lista el dato de tipo String
A_new_list.append(11) # Agrega al final de la lista el dato de tipo Int
print(A_new_list) #Imprime el contenido de la lista

['1', '2', 3, '4', 5, '7', '7', 11]

In [20]:
A_new_list.remove('7') # Remueve el primer dato String que encuentra de la lista y que coincide con el ingresado en la funcion
print(A_new_list) #Imprime el contenido de la lista

['1', '2', 3, '4', 5, '7', 11]

When there are repeated instances of "Hello", the first one is removed.

## Tuple
A tuple is a data structure type similar to a list. The difference is that a tuple is immutable, which means you can't change the elements in it once it's defined. We create a tuple by putting comma-separated values between parentheses.

In [21]:
First_tuple = ('Hola','Soy','Jhon') # Se crea una Tuple con datos de tipo String

Just like a list, a tuple can be sliced by using index.

In [23]:
Another_tuple = ('1','23','456') # Se crea una Tuple con datos de tipo String
print(Another_tuple[1:]) #Se Imprime la tuple desde la prosicion 1 en adelante

('23', '456')

## Set
A set is an **unordered**  collection with **no duplicate** elements. The built-in function **set()** can be used to create sets.

In [33]:
A_list = ['MANZANA','PIÑA','SETA','PERA','FRESA'] #Crea una lista con datos de tipo String
A_list.append('PIÑA') #Añade a la lista un dato de tipo Strnig
A_list.append('PERA') #Añade a la lista un dato de tipo Strnig
print(A_list) # Imprime el contenido de la lista
First_set = set(A_list) #Crea un conjunto Con los datos de la lista igunorando los elementos repetidos
print(First_set) # Imprime el contenido del conjunto

['MANZANA', 'PIÑA', 'SETA', 'PERA', 'FRESA', 'PIÑA', 'PERA']
{'SETA', 'FRESA', 'PERA', 'PIÑA', 'MANZANA'}

Set is an easy way to remove duplicate elements from a list.

##Dictionary
A dictionary is one of the most important data structures in Python. Unlike sequences which are indexed by integers, dictionaries are indexed by keys which can be either strings or floats.

A dictionary is an **unordered** collection of key : value pairs, with the requirement that the keys are unique. We create a dictionary by placing a comma-separated list of key : value pairs within the braces.

In [35]:
First_dic = {'ENE':'ENERO', 'FEB':'FEBRERO', 'MAR':'MARZO', 'ABR':'ABRIL', 'MAY':'MAYO'} #Crea un diccionario y define las palabras clave

In [39]:
print(First_dic['ENE'] + ' ' + First_dic['FEB'] + ' ' + First_dic['MAR'] + ' ' + First_dic['ABR'] + ' ' + First_dic['MAY'])
#Imprime la cadena de texto a partir de las palabras clave definidas

ENERO FEBRERO MARZO ABRIL MAYO

After defining a dictionary, we can access any value by indicating its key in brackets.

In [42]:
First_dic['ENE'] = 'DICIEMBRE' # Reemplaza el significado de la palabra clave ENE en el diccionario
First_dic['MAY'] = 'AGOSTO' # Reemplaza el significado de la palabra clave MAY en el diccionario
print(First_dic['ENE'] + ' ' + First_dic['MAY']) # imprime el nuevo significado de las palabras claves del diccionario ENE y MAY

DICIEMBRE AGOSTO

We can also change the value associated with a specified key:

In [45]:
print(First_dic.keys()) # Imrpime las palabras claves del diccionario

dict_keys(['ENE', 'FEB', 'MAR', 'ABR', 'MAY'])

The built-in method of the dictionary object dict.keys() returns a list of all the keys used in the dictionary.

# Common String Operations
A string is an immutable sequence of characters. It can be sliced by index just like a tuple:

In [50]:
Another_string = 'Hello world' # Asigna a la variable de tipo string la cadena 
print(Another_string[3:]) #Imprime el contenido de la variable desde la posicion 3 en adelante

lo world

There are many methods associated with strings. We can use string.count() to count the occurrences of a character in a string, use string.find() to return the index of a specific character, and use string.replace() to replace characters

In [58]:
print('obi-wan kenovi: hello there'.count('o')) # Imprime la cantidad de veces que se encuentra la letra e en la cadena de texto
print('grievous: general kenovi'.find('i')) # Imprime la prosicion en que encuentra el primer caracter i en la cadena de texto
print('Darth vader: no, i am your father'.replace('a','i')) # Reemplaza la letra a de la cadena por la letra i

3
2
Dirth vider: no, i im your fither

The most commonly used method for strings is string.split(). This method will split the string by the indicated character and return a list:

In [66]:
weekdays = 'Lunes,Martes,Miercoles,Jueves,Viernes-Sabado,Domingo' # Asigna a la variable de tipo string la cadena 
First_splited_list = weekdays.split('-') # Divide la cadena en una lista a partir del caracter -
weekday = First_splited_list[0] # Asigna a la variable de tipo string el contenido de la posicion 0 de la lista
weekend = First_splited_list[1] # Asigna a la variable de tipo string el contenido de la posicion 1 de la lista
print('Entre semana: ',weekday,' Fin de semana:', weekend) # imprime las cadenas y el contenido de cada variable string
Monday = weekday.split(',')[0] # Divide la cadena en una lista a partir del caracter ,
print(Monday) # Imprime el contenido de la variable string

Entre semana:  Lunes,Martes,Miercoles,Jueves,Viernes  Fin de semana: Sabado,Domingo
Lunes

We can replace parts of a string by our variable. This is called string formatting.

In [67]:
Date = 'Year: {}, Month: {}, Day:{}'.format('2021','11','01') #Se reemplazan las llaves por los datos indicados en la funcion format()
print(Date) # se imprime el contenido del String Date

Year: 2021, Month: 11, Day:01

Another way to format a string is to use the % symbol.

In [77]:
print('El valor de aceleraion de la gravedad es de %f m/s^2'%9.8) # imptime en la pantalla la cadena y da formato con el dato tipo float reemplazando %f por 9.8
print('El valor de %s es igual a %f'%('pi', 3.141592)) # imptime en la pantalla la cadena y da formato con el dato tipo String y float reemplazando por pi y 3.141592

El valor de aceleraion de la gravedad es de 9.800000 m/s^2
El valor de pi es igual a 3.141592

# Summary

Weave seen the basic data types and data structures in Python. It's important to keep practicing to become familiar with these data structures. In the next tutorial, we will cover for and while loops and logical operations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 02 Logical Operations and Loops

# Introduction
We discussed the basic data types and data structures in Python in the last tutorial. This chapter covers logical operations and loops in Python, which are very common in programming.

# Logical Operations
Like most programming languages, Python has comparison operators:

In [80]:
print('1+1' == '1+1') #compara las cadenas bajo el operador relacional == y e imprime en pantalla verdadero pues se cumple la igualdad
print(2+2 == 4) #compara el resultado de la operacion con el numero bajo el operador relacional == y e imprime en pantalla verdadero pues se cumple la igualdad
print('4' == 4) #compara la cadena con el numero bajo el operador relacional == y e imprime en pantalla falso pues no se cumple la igualdad ya que son tipos de datos diferentes
print(1 != 0) #compara los numeros bajo el operador relacional != y e imprime en pantalla verdadero 
print('3' != 3) #compara la cadena con el numero bajo el operador relacional != y e imprime en pantalla verdadero pues son tipos de datos diferentes
print(4!=2+2) #compara el numero con el resultado de la operacion bajo el operador relacional != y e imprime en pantalla falso
print(3.14159 >= 5) #compara los numeros bajo el operador relacional >= y e imprime en pantalla falso
print(100 >= 20) #compara los numeros bajo el operador relacional >= y e imprime en pantalla verdadero

True
True
False
True
True
False
False
True

Each statement above has a boolean value, which must be either True or False, but not both.

We can combine simple statements P and Q to form complex statements using logical operators:

- The statement "P and Q" is true if both P and Q are true, otherwise it is false.
- The statement "P or Q" is false if both P and Q are false, otherwise it is true.
- The statement "not P" is true if P is false, and vice versa.

In [87]:
print(3+3 > 5 and 100-2 > 90) #realiza las operaciones, compara los resultados con los numeros usando operadores logicos y al cumplirse compara nuevamente si los 2 casos son verdaderos se cumple el operador and e imprime en pantalla verdadero
print(9+9 > 100 and 1 < 11) # realiza la operacion, compara la desigualdad en los 2 casos luego mediante operadores logicos compara las desigualdades y al ser diferentes no se cumple el operador and por lo que imprime en pantalla falso
print(100 > 200 or 300 < 400) # compara la desigualdad en los 2 casos y mediante operadores logicos compara las desigualdades al cumplirse una de las 2 desigualdades se cumple el operador logico or e imprime por pantalla verdadero
print(999 < 1 or 1000 < 999) # compara la desigualdad en los 2 casos y usando operadores logicos compara las desigualdades al no cumplirse en ningun caso no se cumple la operacion or por lo que imprime en la pantalla falso

True
False
True
False

When dealing with a very complex logical statement that involves in several statements, we can use brackets to separate and combine them.

In [95]:
print((3+1 > 3 or 100 < 101) and (200!=100+1 and 10*10>99) and not ( 200+99 < 450 or 100-50 < 30+30 and (234!=345 and 1000>999))) # resuelve las operaciones, los operadores relacionales y operadores logicos usando los parentesis para identificar con cuales operaciones debe comenzar e imprime en pantalla falso pues la operacion not no permite que se cumpla la operacion and
print(300 > 200+1 or 100 < 3*100 and (3+3+3!=3+3+3 and 94>43) and not ( 20*20 < 100*100*100 or 2+2+2 < 3+2 and (20!=44 and 666>333)))# resuelve las operaciones, los operadores relacionales y operadores logicos usando los parentesis para identificar con cuales operaciones debe comenzar e imprime en pantalla verdadero pues la operacion not permite que se cumpla la operacion and

False
True

Comparing the above two statements, we can see that it's wise to use brackets when we make a complex logical statement.

# If Statement
An if statement executes a segment of code only if its condition is true. A standard if statement consists of 3 segments: if, elif and else.

```python
if statement1:
    # if the statement1 is true, execute the code here.
    # code.....
    # code.....
elif statement2:
    # if the statement 1 is false, skip the codes above to this part.
    # code......
    # code......
else:
    # if none of the above statements is True, skip to this part
    # code......
```

An if statement doesn't necessarily has elif and else part. If it's not specified, the indented block of code will be executed when the condition is true, otherwise the whole if statement will be skipped.

In [99]:
i = [1,2,3,5,7] # Crea una lista con valores 
if i[3] == 5: # verifica que en la prosicion 3 de la lista el dato sea igual a 5 al ser verdadero ejecuta la siguiente instruccion 
    print('i[3] es igual a 5') #al cumplirse la condicion imprime en pantalla la cadena

i[3] es igual a 5

As we mentioned above, we can write some complex statements here:

In [104]:
First_case = i[4] > i[2] # compara el contenido de la lista en la posicion 4 y 2, guarda verdadero en la variable pues se cumple la condicion
Second_case = i[1] > i[3] # Compara el contenido de la lista en la posicion 1 y 3, guarda falso en la variable pues la condicion no se cumple
if First_case and Second_case: # evalua si el primer y segundo caso son verdaderos, al no ser asi no ejecuta el cofigo dentro del if
    print('El primer caso y el segundo son verdaderos') #imprime en pantalla la cadena de texto solo si la condicion del if se cumple
elif First_case and not Second_case: #de no cumplirse la condicion anterior evalua si el primer caso es verdadero y si el segundo caso es falso, al ser asi ejecuta el codigo dentro del if
    print('El segundo caso es falso') #imprime en pantalla la cadena de texto pues la condicion del if se cumplio
elif Second_case and not First_case: #de no cumplirse las condiciones anteriores evalua si el segundo caso es verdadero y el primero es falso, de ser asi ejecutaria el codigo dentro del if
    print('El primer caso es falso') #imprime en pantalla la cadena de texto solo si la condicion del if se cumple
else: # de no cumplirse ninguna condicion ejecuta la siguiente linea de codigo
    print('ninguno de los casos es verdadero') #imprime en pantalla la cadena de texto pues ningun caso se cumplio

El segundo caso es falso

# Loop Structure
Loops are an essential part of programming. The "for" and "while" loops run a block of code repeatedly.

## While Loop
A "while" loop will run repeatedly until a certain condition has been met.

In [119]:
i = 10 # se asigna el valor de 10 a la variable
j = 100 # se asigna el valor de 100 a la variable
while i <= 100: # mientras que i sea menor o igual a 100 ejecuta las instrucciones dentro del while y una vez termine nuevamente verifica la condicion y ejecuta las instrucciones hasta que la condicion deje de cumplirse
    print(i ,' ' ,j) # si se cumple la condicion imprime en pantalla los valores de i y de j
    i += 10 #suma 10 al valor de i
    j -= 10 #resta 10 al valor de j

10   100
20   90
30   80
40   70
50   60
60   50
70   40
80   30
90   20
100   10

When making a while loop, we need to ensure that something changes from iteration to iteration so that the while loop will terminate, otherwise, it will run forever. Here we used i += 1 (short for i = i + 1) to make i larger after each iteration. This is the most commonly used method to control a while loop.

## For Loop
A "for" loop will iterate over a sequence of value and terminate when the sequence has ended.

In [121]:
for i in range(0,10): # repite el ciclo asignando el valor de cero a i e incrementandolo hasta que i sea 10 una vez i sea 10 deja de ejecutar las instrucciones deltro del for
    print(i) #imprime en pantalla el valor de i cada vez que la condicion que indique el for sea correcta

0
1
2
3
4
5
6
7
8
9

We can also add if statements in a for loop. Here is a real example from our pairs trading algorithm:

In [132]:
numbers = [0,1,2,3,4,5,6,7,8,9] # crea una lista con valores enteros
pair = [2,4,6,8] #crea una lista con los valores enteros pares
odd = [1,3,5,7] #crea una lista con los valores enteros impares
for i in numbers: # se mantiene en el bucle usando i como contador para recorrer los distintos espacios de la lista una vez recorre toda la lista se sale del bucle
    if numbers[i] in odd : # verifica si el dato en la posicion i de la lista numeros esta en la lista de pares para ejecutar la instruccion dentro del if
        print('es impar ', numbers[i]) # imprime en la pantalla la cadena de texto junto con el valor del la lisna numeros en la posicion i solo si se cumple la condicion
    elif numbers[i] in pair : # si no se cumple la condicion anterior verifica si el numero en la posicion i esta en la lista de los impares para ejecutar la siguiente instruccion
        print('es par ',numbers[i])# de cumplirse la condicion imrpime en la pantalla la cadena junto con el numero de la lista en la posicion i
    else: # si ninguna de las siguientes condiciones se cumple ejecuta la siguiente instruccion
        print('es 0') # imprime en pantala la cadena

es 0
es impar  1
es par  2
es impar  3
es par  4
es impar  5
es par  6
es impar  7
es par  8
es 0

Here we iterated all the elements in the list 'stocks'. Later in this chapter, we will introduce a smarter way to do this, which is just a one-line code.

## Break and continue
These are two commonly used commands in a for loop. If "break" is triggered while a loop is executing, the loop will terminate immediately:

In [136]:
years = [1996,1997,1998,1999,2000,2001,2002] # crea una lista con valores enteros que representan años
for i in years: # ejecuta el bucle y usa a i para recorrer las posiciones de la lista una vez termine el bucle tambien termina
    print(i) # imprime el valor de i
    if i == 2000: # si el valor de i es igual a 2000 ejecuta la siguiente instruccion
        break # sale forzadamente del bucle

1996
1997
1998
1999
2000

The "continue" command tells the loop to end this iteration and skip to the next iteration:

In [140]:
other_months = ['JUNIO','JULIO','AGOSTO','SEPTIEMBRE','OCTUBRE','NOVIEMBRE','DICIEMBRE'] #crea una lista con datos de tipo string
for i in other_months: # inicia un bucle para recorrer la lista usando la variable i
    if i == 'OCTUBRE': # si la condicion de que i sea igual a la cadena se cumple ejecuta la seguiente intruccion
        continue # no ejecuta las siguientes intrucciones dentro del bucle pero lo mantiene en el bucle
    print(i) # Imprime en pantalla el valor  de i

JUNIO
JULIO
AGOSTO
SEPTIEMBRE
NOVIEMBRE
DICIEMBRE

# List Comprehension
List comprehension is a Pythonic way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence. For example, if we want to create a list of squares using for loop:

In [148]:
First_Cubic = [] # crea una lista vacia
for i in [1,2,3,4,5]: #usa un bucle para recorrer la lista de 5 elementos usando i para evaluar cada elemento
    First_Cubic.append(i**3) #añade a la lista First_Cubic el valor cubico de i
print(First_Cubic) #imprime la lista First_Cubic en pantalla

[1, 8, 27, 64, 125]

Using list comprehension:

In [149]:
list = [1,3,5,7,11] # crea una lista con numeros primos
Cubic_plus_two = [(x**2)+2 for x in list] # crea una lista donde arega los datos mediante un bucle que recorre la lista list calcula el valor cubico de cada uno de las datos mas 2 
print(Cubic_plus_two) #imprime en pantalla el contenido de la lista Cubic_plus_two

[3, 11, 27, 51, 123]

Recall the example above where we used a for loop to select stocks. Here we use list comprehension:

In [150]:
numbers = [1,2,3,4,5,6,7,8,9,10,11] # crea una lista con numeros enteros
Prime_numbers = [1,2,3,5,7,11] # crea una lista con numeros primos
another_list = [x for x in numbers if x in Prime_numbers] # crea una lista nueva donde mediante de un bucle reccorre las listas reconociendo los valores que se encuentren en ambas listas y añadiendolos a la lista nueva
print(another_list) # imprime los datos de la lista another_list

[1, 2, 3, 5, 7, 11]

A list comprehension consists of square brackets containing an expression followed by a "for" clause, and possibly "for" or "if" clauses. For example:

In [154]:
print([(x, y) for x in ['12','3','6','9'] for y in ['00','15','30','45'] if x != y]) # imprime una lista pormedio de un bucle reemplazando las variables con los datos donde para cada x se imprime con todas las combinaciones de y

[('12', '00'), ('12', '15'), ('12', '30'), ('12', '45'), ('3', '00'), ('3', '15'), ('3', '30'), ('3', '45'), ('6', '00'), ('6', '15'), ('6', '30'), ('6', '45'), ('9', '00'), ('9', '15'), ('9', '30'), ('9', '45')]

List comprehension is an elegant way to organize one or more for loops when creating a list.

# Summary
This chapter has introduced logical operations, loops, and list comprehension. In the next chapter, we will introduce functions and object-oriented programming, which will enable us to make our codes clean and versatile.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 03 Functions and Objective-Oriented Programming

# Introduction

In the last tutorial we introduced logical operations, loops and list comprehension. We will introduce functions and object-oriented programming in this chapter, which will enable us to build complex algorithms in more flexible ways.

# Functions
A function is a reusable block of code. We can use a function to output a value, or do anything else we want. We can easily define our own function by using the keyword "def".

In [155]:
def exponent(x,y): # crea una funcion que recibe dos datos
    return x**y # retorna el resultado de la operacion base x exponente y
print(exponent(2,3)) # imprime el resultado de usar la funcion exponentcons los datos 2 y 3
print(exponent(5,2)) # imprime el resultado de usar la funcion exponentcons los datos 5 y 2

8
25

The keyword "def" is followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented. The product() function above has "x" and "y" as its parameters. A function doesn't necessarily have parameters:

In [156]:
def my_first_code(): # crea una funcion con el nombre my_first_code la cual no necesita parametros para ejecutar la instruccion
    print('hellow world') # imprime en pantalla la cadena
my_first_code() # ejecuta la funcion my_first_code

hellow world

# Built-in Function
**range()** is a function that creates a list containing an arithmetic sequence. It's often used in for loops. The arguments must be integers. If the "step" argument is omitted, it defaults to 1.

In [163]:
print(range(100+1,200)) # crea una lista e imprime el rango de la lista 
print(range(200)) # crea una lista e imprime el rango de la lista comenzando desde cero hasta 200

range(101, 200)
range(0, 200)

**len()** is another function used together with range() to create a for loop. This function returns the length of an object. The argument must be a sequence or a collection.

In [164]:
weekdays = ['Lunes','martes','miercoles','jueves','viernes','sabado','domingo'] # crea unalista que contiene los dias de la semana
print('hay {} dias a la semana'.format(len(weekdays)))
for i in range(len(weekdays)):
    print(weekdays[i])

hay 7 dias a la semana
Lunes
martes
miercoles
jueves
viernes
sabado
domingo

Note: If you want to print only the tickers without those numbers, then simply write "for ticker in tickers: print ticker"

**map(**) is a function that applies a specific function to every item of a sequence or collection, and returns a list of the results.

Because list at the moment is [1,2,3,4,5] and overwriting list() from builtins we del list

In [165]:
print(list)
del list
list

[1, 3, 5, 7, 11]

list

In [167]:
months = ['enero','febrero','marzo','abril','mayo'] #crea unalista con los meses
list(map(len,months)) # imprime una lista indicando el tamaño de cada elemento de la lista months

[5, 7, 5, 5, 4]

In [168]:
months = ['enero','febrero','marzo','abril','mayo'] #crea unalista con los meses
print(list(map(len,months))) # imprime una lista indicando el tamaño de cada elemento de la lista months

[5, 7, 5, 5, 4]

The **lambda operator** is a way to create small anonymous functions. These functions are just needed where they have been created. For example:

In [169]:
list(map(lambda y: y**3, range(5)))# crea una lista con los lumeros del 1 al 5 evaliados al cubo

[0, 1, 8, 27, 64]

map() can be applied to more than one list. The lists have to have the same length.

In [170]:
list(map(lambda x, y: x**y, [1,2,3,4,5],[5,4,3,2,1])) # crea una lista donde los datos son el resultado de base x exponente y

[1, 16, 27, 16, 5]

**sorted()** takes a list or set and returns a new sorted list

In [172]:
sorted([5+5,2+2,3+9,4+2,2+3]) # realiza las operaciones y ordena la lista

[4, 5, 6, 10, 12]

We can add a "key" parameter to specify a function to be called on each list element prior to making comparisons. For example:

In [174]:
months = [('marzo',3),('febrero',2),('enero',1),('abril',4),('mayo',5)] #crea una lista desordenada con valores clave para cada elemento
sorted(months, key = lambda x: x[1]) # imprime de forma ordenada los valores de la lista por medio de la clave

[('enero', 1), ('febrero', 2), ('marzo', 3), ('abril', 4), ('mayo', 5)]

By default the values are sorted by ascending order. We can change it to descending by adding an optional parameter "reverse'.

In [175]:
months = [('marzo',3),('febrero',2),('enero',1),('abril',4),('mayo',5)] #crea una lista desordenada con valores clave para cada elemento
sorted(months, key = lambda x: x[1],reverse = True)# imprime de forma ordenada y descendente los valores de la lista por medio de la clave

[('mayo', 5), ('abril', 4), ('marzo', 3), ('febrero', 2), ('enero', 1)]

Lists also have a function list.sort(). This function takes the same "key" and "reverse" arguments as sorted(), but it doesn't return a new list.

In [177]:
months = [('marzo',3),('febrero',2),('enero',1),('abril',4),('mayo',5)] #crea una lista desordenada con valores clave para cada elemento
months.sort(key = lambda x: x[1]) # ordena la lista de forma ascendente
print(months) #imprime la lista

[('enero', 1), ('febrero', 2), ('marzo', 3), ('abril', 4), ('mayo', 5)]

# Object-Oriented Programming
Python is an object-oriented programming language. It's important to understand the concept of "objects" because almost every kind of data from QuantConnect API is an object.

## Class
A class is a type of data, just like a string, float, or list. When we create an object of that data type, we call it an instance of a class.

In Python, everything is an object - everything is an instance of some class. The data stored inside an object are called attributes, and the functions which are associated with the object are called methods.

For example, as mentioned above, a list is an object of the "list" class, and it has a method list.sort().

We can create our own objects by defining a class. We would do this when it's helpful to group certain functions together. For example, we define a class named "Stock" here:

In [208]:
class car: #crea la clase car
    def __init__(self,ticker, price, tipe, discount): #funcio inical para configurar un objeto car con los parametros introducidos
        self.ticker = ticker
        self.price = price
        self.tipe = tipe
        self.discount = discount
        self.rate_return = float(price)/discount - 1 
 
    def update(self, price, discount):
        self.price = price
        self.discount = discount
        self.rate_return = float(self.price)/self.discount - 1
 
    def print_return(self):
        print(self.rate_return)

The "Stock" class has attributes "ticker", "open", "close", "volume" and "rate_return". Inside the class body, the first method is called __init__, which is a special method. When we create a new instance of the class, the __init__ method is immediately executed with all the parameters that we pass to the "Stock" object. The purpose of this method is to set up a new "Stock" object using data we have provided.

Here we create two Stock objects named "apple" and "google".

In [216]:
sports = car('bugatti', 1000000.99, 2021, 1000.99) # se crea el objeto sports de tipo car
bus = car('volt', 1700000.99, 2020, 9999.99) # se crea el objero bus de tipo sports

Stock objects also have two other methods: update() and print_return(). We can access the attribues of a Stock object and call its methods:

In [217]:
sports.price
bus.print_return()
bus.update(800000.99,5000.00)
bus.print_return()

169.00026900026901
159.000198

By calling the update() function, we updated the open and close prices of a stock. Please note that when we use the attributes or call the methods **inside a class**, we need to specify them as self.attribute or self.method(), otherwise Python will deem them as global variables and thus raise an error.

We can add an attribute to an object anywhere:

In [ ]:
apple.ceo = 'Tim Cook'
apple.ceo

'Tim Cook'

We can check what names (i.e. attributes and methods) are defined on an object using the dir() function:

In [ ]:
dir(apple)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'ceo',
 'close',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'volume']

## Inheritance
Inheritance is a way of arranging classes in a hierarchy from the most general to the most specific. A "child" class is a more specific type of a "parent" class because a child class will inherit all the attribues and methods of its parent. For example, we define a class named "Child" which inherits "Stock":

In [ ]:
class child(stock):
    def __init__(self,name):
        self.name = name

In [ ]:
aa = child('aa')
print(aa.name)
aa.update(100,102)
print(aa.open)
print(aa.close)
print(aa.print_return())

aa
100
102
0.020000000000000018
None

As seen above, the new class Child has inherited the methods from Stock.

#Summary

In this chapter we have introduced functions and classes. When we write a QuantConnect algorithm, we would define our algorithm as a class (QCAlgorithm). This means our algorithm inherited the QC API methods from QCAlgorithm class.

In the next chapter, we will introduce NumPy and Pandas, which enable us to conduct scientific calculations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 04 NumPy and Basic Pandas

# Introduction

Now that we have introduced the fundamentals of Python, it's time to learn about NumPy and Pandas.

# NumPy
NumPy is the core library for scientific computing in Python. It provides a high-performance multidimensional array object, and tools for working with these arrays. It also has strong integration with Pandas, which is another powerful tool for manipulating financial data.

Python packages like NumPy and Pandas contain classes and methods which we can use by importing the package:

In [ ]:
import numpy as np

## Basic NumPy Arrays
A NumPy array is a grid of values, all of the same type, and is indexed by a tuple of nonnegative integers. Here we make an array by passing a list of Apple stock prices:

In [ ]:
price_list = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
price_array = np.array(price_list)
print(price_array, type(price_array))

[143.73 145.83 143.68 144.02 143.5  142.62] <class 'numpy.ndarray'>

Notice that the type of array is "ndarray" which is a multi-dimensional array. If we pass np.array() a list of lists, it will create a 2-dimensional array.

In [ ]:
Ar = np.array([[1,3],[2,4]])
print(Ar, type(Ar))

[[1 3]
 [2 4]] <class 'numpy.ndarray'>

We get the dimensions of an ndarray using the .shape attribute:

In [ ]:
print(Ar.shape)

(2, 2)

If we create an 2-dimensional array (i.e. matrix), each row can be accessed by index:

In [ ]:
print(Ar[0])
print(Ar[1])

[1 3]
[2 4]

If we want to access the matrix by column instead:

In [ ]:
print('the first column: ', Ar[:,0])
print('the second column: ', Ar[:,1])

the first column:  [1 2]
the second column:  [3 4]

## Array Functions
Some functions built in NumPy that allow us to perform calculations on arrays. For example, we can apply the natural logarithm to each element of an array:

In [ ]:
print(np.log(price_array))

[4.96793654 4.98244156 4.9675886  4.96995218 4.96633504 4.96018375]

Other functions return a single value:

In [ ]:
print(np.mean(price_array))
print(np.std(price_array))
print(np.sum(price_array))
print(np.max(price_array))

143.89666666666668
0.9673790478515796
863.38
145.83

The functions above return the mean, standard deviation, total and maximum value of an array.

# Pandas
Pandas is one of the most powerful tools for dealing with financial data. 

First we need to import Pandas:

In [ ]:
import pandas as pd

## Series
Series is a one-dimensional labeled array capable of holding any data type (integers, strings, float, Python object, etc.)

We create a Series by calling pd.Series(data), where data can be a dictionary, an array or just a scalar value.

In [ ]:
price = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
s = pd.Series(price)
s

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
dtype: float64

We can customize the indices of a new Series:

In [ ]:
s = pd.Series(price,index = ['a','b','c','d','e','f'])
s

a    143.73
b    145.83
c    143.68
d    144.02
e    143.50
f    142.62
dtype: float64

Or we can change the indices of an existing Series:

In [ ]:
s.index = [6,5,4,3,2,1]
s

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64

Series is like a list since it can be sliced by index:

In [ ]:
print(s[1:])
print(s[:-2])

5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64
6    143.73
5    145.83
4    143.68
3    144.02
dtype: float64

Series is also like a dictionary whose values can be set or fetched by index label:

In [ ]:
print(s[4])
s[4] = 0
print(s)

143.68
6    143.73
5    145.83
4      0.00
3    144.02
2    143.50
1    142.62
dtype: float64

Series can also have a name attribute, which will be used when we make up a Pandas DataFrame using several series.

In [ ]:
s = pd.Series(price, name = 'Apple Price List')
print(s)
print(s.name)

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
Name: Apple Price List, dtype: float64
Apple Price List

We can get the statistical summaries of a Series:

In [ ]:
print(s.describe())

count      6.000000
mean     143.896667
std        1.059711
min      142.620000
25%      143.545000
50%      143.705000
75%      143.947500
max      145.830000
Name: Apple Price List, dtype: float64

## Time Index
Pandas has a built-in function specifically for creating date indices: pd.date_range(). We use it to create a new index for our Series:

In [ ]:
time_index = pd.date_range('2017-01-01',periods = len(s),freq = 'D')
print(time_index)
s.index = time_index
print(s)

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')
2017-01-01    143.73
2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
2017-01-06    142.62
Freq: D, Name: Apple Price List, dtype: float64

Series are usually accessed using the iloc[] and loc[] methods. iloc[] is used to access elements by integer index, and loc[] is used to access the index of the series.

iloc[] is necessary when the index of a series are integers, take our previous defined series as example:

In [ ]:
s.index = [6,5,4,3,2,1]
print(s)
print(s[1])

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
Name: Apple Price List, dtype: float64
142.62

If we intended to take the second element of the series, we would make a mistake here, because the index are integers. In order to access to the element we want, we use iloc[] here:

In [ ]:
print(s.iloc[1])

145.83

While working with time series data, we often use time as the index. Pandas provides us with various methods to access the data by time index

In [ ]:
s.index = time_index
print(s['2017-01-03'])

143.68

We can even access to a range of dates:

In [ ]:
print(s['2017-01-02':'2017-01-05'])

2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
Freq: D, Name: Apple Price List, dtype: float64

Series[] provides us a very flexible way to index data. We can add any condition in the square brackets:

In [ ]:
print(s[s < np.mean(s)] )
print([(s > np.mean(s)) & (s < np.mean(s) + 1.64*np.std(s))])

2017-01-01    143.73
2017-01-03    143.68
2017-01-05    143.50
2017-01-06    142.62
Name: Apple Price List, dtype: float64
[2017-01-01    False
2017-01-02    False
2017-01-03    False
2017-01-04     True
2017-01-05    False
2017-01-06    False
Freq: D, Name: Apple Price List, dtype: bool]

As demonstrated, we can use logical operators like & (and), | (or) and ~ (not) to group multiple conditions.

# Summary
Here we have introduced NumPy and Pandas for scientific computing in Python. In the next chapter, we will dive into Pandas to learn resampling and manipulating Pandas DataFrame, which are commonly used in financial data analysis.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png"> <img style="display: block; margin: auto;" alt="photo" src="https://www.marketing-branding.com/wp-content/uploads/2020/07/google-colaboratory-colab-guia-completa.jpg " width="50" height="50">
<img style="display: block; margin: auto;" alt="photo" src="https://upload.wikimedia.org/wikipedia/commons/d/da/Yahoo_Finance_Logo_2019.svg" width="50" height="50">  

Quantconnect -> Google Colab with Yahoo Finance data

Introduction to Financial Python
</div>

# 05 Pandas-Resampling and DataFrame

# Introduction
In the last chapter we had a glimpse of Pandas. In this chapter we will learn about resampling methods and the DataFrame object, which is a powerful tool for financial data analysis.

# Fetching Data
Here we use the Yahoo Finance to retrieve data.

In [ ]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.64.tar.gz (26 kB)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Collecting lxml>=4.5.1
  Downloading lxml-4.6.3-cp37-cp37m-manylinux2014_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 19.3 MB/s
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.5.30)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Building wheels for collected packages: yfinance
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.64-py2.py3-none-any.whl size=24109 sha256=7c1e0b6c04ba032b5df6b79cf742e39b2b6b369b5d461e7db9e6f1780d88c041
  Stored in directory: /root/.cache/pip/wheels/86/fe/9b/a4d3d78796b699e37065e5b6c27b75cff448ddb8b24943c288
Successfully built yfinance
Installing collected packages: lxml, yfinance
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed lxml-4.6.3 yfinance-0.1.64

In [ ]:
import yfinance as yf

aapl = yf.Ticker("AAPL")

# get stock info
print(aapl.info)

# get historical market data
aapl_table = aapl.history(start="2016-01-01",  end="2017-12-31")
aapl_table

{'zip': '95014', 'sector': 'Technology', 'fullTimeEmployees': 147000, 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. The company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, iPod touch, and other Apple-branded and third-party accessories. It also provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store, that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. In addition, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It sells and delivers third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was founded in 1977 and is headquartered in Cupertino, California.', 'city': 'Cupertino', 'phone': '408-996-1010', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'http://www.apple.com', 'maxAge': 1, 'address1': 'One Apple Park Way', 'industry': 'Consumer Electronics', 'ebitdaMargins': 0.31955, 'profitMargins': 0.25004, 'grossMargins': 0.41005, 'operatingCashflow': 104414003200, 'revenueGrowth': 0.364, 'operatingMargins': 0.28788, 'ebitda': 110934999040, 'targetLowPrice': 132, 'recommendationKey': 'buy', 'grossProfits': 104956000000, 'freeCashflow': 80625876992, 'targetMedianPrice': 170, 'currentPrice': 148.36, 'earningsGrowth': 1, 'currentRatio': 1.062, 'returnOnAssets': 0.19302, 'numberOfAnalystOpinions': 40, 'targetMeanPrice': 168.89, 'debtToEquity': 210.782, 'returnOnEquity': 1.27125, 'targetHighPrice': 190, 'totalCash': 61696000000, 'totalDebt': 135491002368, 'totalRevenue': 347155005440, 'totalCashPerShare': 3.732, 'financialCurrency': 'USD', 'revenuePerShare': 20.61, 'quickRatio': 0.887, 'recommendationMean': 1.8, 'exchange': 'NMS', 'shortName': 'Apple Inc.', 'longName': 'Apple Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'AAPL', 'messageBoardId': 'finmb_24937', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 7.293, 'beta3Year': None, 'enterpriseToEbitda': 22.821, '52WeekChange': 0.29239464, 'morningStarRiskRating': None, 'forwardEps': 5.68, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 16530199552, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 3.882, 'sharesShort': 101107412, 'sharesPercentSharesOut': 0.0061000003, 'fundFamily': None, 'lastFiscalYearEnd': 1601078400, 'heldPercentInstitutions': 0.58671004, 'netIncomeToCommon': 86801997824, 'trailingEps': 5.108, 'lastDividendValue': 0.22, 'SandP52WeekChange': 0.33635402, 'priceToBook': 38.217415, 'heldPercentInsiders': 0.00072999997, 'nextFiscalYearEnd': 1664150400, 'yield': None, 'mostRecentQuarter': 1624665600, 'shortRatio': 1.18, 'sharesShortPreviousMonthDate': 1630368000, 'floatShares': 16513139929, 'beta': 1.222222, 'enterpriseValue': 2531665379328, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1598832000, 'lastSplitFactor': '4:1', 'legalType': None, 'lastDividendDate': 1628208000, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 0.932, 'priceToSalesTrailing12Months': 7.064338, 'dateShortInterest': 1632960000, 'pegRatio': 1.34, 'ytdReturn': None, 'forwardPE': 26.119719, 'lastCapGain': None, 'shortPercentOfFloat': 0.0061000003, 'sharesShortPriorMonth': 96838699, 'impliedSharesOutstanding': None, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 148.69, 'regularMarketOpen': 148.68, 'twoHundredDayAverage': 139.49467, 'trailingAnnualDividendYield': 0.0056157103, 'payoutRatio': 0.16309999, 'volume24Hr': None, 'regularMarketDayHigh': 149.37, 'navPrice': None, 'averageDailyVolume10Day': 68088783, 'regularMarketPreviousClose': 148.69, 'fiftyDayAverage': 145.9303, 'trailingAnnualDividendRate': 0.835, 'open': 148.68, 'toCurrency': None, 'averageVolume10days': 68088783, 'expireDate': None, 'algorithm': None, 'dividendRate': 0.88, 'exDividendDate': 1628208000, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 147.92, 'currency': 'USD', 'trailingPE': 29.044638, 'regularMarketVolume': 10036145, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 2452420296704, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 75838454, 'dayLow': 147.92, 'ask': 148.39, 'askSize': 1200, 'volume': 10036145, 'fiftyTwoWeekHigh': 157.26, 'fromCurrency': None, 'fiveYearAvgDividendYield': 1.24, 'fiftyTwoWeekLow': 107.32, 'bid': 148.38, 'tradeable': False, 'dividendYield': 0.0058999998, 'bidSize': 900, 'dayHigh': 149.37, 'regularMarketPrice': 148.36, 'preMarketPrice': 148.69, 'logo_url': 'https://logo.clearbit.com/apple.com'}

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2016-01-04  23.655163  24.291439  23.514536  ...  270597600        0.0             0
2016-01-05  24.379045  24.402098  23.609059  ...  223164000        0.0             0
2016-01-06  23.182573  23.599842  23.023505  ...  273829600        0.0             0
2016-01-07  22.749158  23.083433  22.230456  ...  324377600        0.0             0
2016-01-08  22.719195  22.848294  22.306538  ...  283192000        0.0             0
...               ...        ...        ...  ...        ...        ...           ...
2017-12-22  41.827756  42.004953  41.784656  ...   65397600        0.0             0
2017-12-26  40.898682  41.059116  40.630492  ...  132742000        0.0             0
2017-12-27  40.731054  40.893880  40.637667  ...   85992800        0.0             0
2017-12-28  40.946572  41.150109  40.822055  ...   65920800        0.0             0
2017-12-29  40.831625  40.848385  40.520335  ...  103999600        0.0             0

[503 rows x 7 columns]

We will create a Series named "aapl" whose values are Apple's daily closing prices, which are of course indexed by dates:

In [ ]:
aapl = aapl_table['Close']['2017']

In [ ]:
print(aapl)

Date
2017-01-03    27.372364
2017-01-04    27.341724
2017-01-05    27.480768
2017-01-06    27.787132
2017-01-09    28.041645
                ...
2017-12-22    41.906776
2017-12-26    40.843601
2017-12-27    40.850777
2017-12-28    40.965721
2017-12-29    40.522736
Name: Close, Length: 251, dtype: float64

Recall that we can fetch a specific data point using series['yyyy-mm-dd']. We can also fetch the data in a specific month using series['yyyy-mm'].

In [ ]:
print(aapl['2017-3'])

Date
2017-03-01    33.086281
2017-03-02    32.889839
2017-03-03    33.083920
2017-03-06    32.979778
2017-03-07    33.022373
2017-03-08    32.899296
2017-03-09    32.823563
2017-03-10    32.932434
2017-03-13    32.946640
2017-03-14    32.896942
2017-03-15    33.244865
2017-03-16    33.299305
2017-03-17    33.133617
2017-03-20    33.481544
2017-03-21    33.098122
2017-03-22    33.472084
2017-03-23    33.353741
2017-03-24    33.287464
2017-03-27    33.344276
2017-03-28    34.035393
2017-03-29    34.111141
2017-03-30    34.066158
2017-03-31    34.002254
Name: Close, dtype: float64

In [ ]:
aapl['2017-2':'2017-4']

Date
2017-02-01    30.341726
2017-02-02    30.289885
2017-02-03    30.419493
2017-02-06    30.704651
2017-02-07    30.996870
                ...
2017-04-24    33.997528
2017-04-25    34.208179
2017-04-26    34.006985
2017-04-27    34.033024
2017-04-28    33.999889
Name: Close, Length: 61, dtype: float64

.head(N) and .tail(N) are methods for quickly accessing the first or last N elements.

In [ ]:
print(aapl.head(5))
print(aapl.tail(10))

Date
2017-01-03    27.372364
2017-01-04    27.341724
2017-01-05    27.480768
2017-01-06    27.787132
2017-01-09    28.041645
Name: Close, dtype: float64
Date
2017-12-15    41.657745
2017-12-18    42.244392
2017-12-19    41.794228
2017-12-20    41.748734
2017-12-21    41.906776
2017-12-22    41.906776
2017-12-26    40.843601
2017-12-27    40.850777
2017-12-28    40.965721
2017-12-29    40.522736
Name: Close, dtype: float64

# Resampling
**_series.resample(freq)_** is a class called "DatetimeIndexResampler" which groups data in a Series object into regular time intervals. The argument "freq" determines the length of each interval.

**_series.resample.mean()_** is a complete statement that groups data into intervals, and then compute the mean of each interval. For example, if we want to aggregate the daily data into monthly data by mean:

In [ ]:
by_month = aapl.resample('M').mean()
print(by_month)

Date
2017-01-31    28.178332
2017-02-28    31.606276
2017-03-31    33.282219
2017-04-30    33.819262
2017-05-31    36.125686
2017-06-30    35.133984
2017-07-31    35.245242
2017-08-31    37.897228
2017-09-30    37.604739
2017-10-31    37.654550
2017-11-30    41.233914
2017-12-31    41.160038
Freq: M, Name: Close, dtype: float64

We can also aggregate the data by week:

In [ ]:
by_week = aapl.resample('W').mean()
print(by_week.head())

Date
2017-01-08    27.495497
2017-01-15    28.097734
2017-01-22    28.266116
2017-01-29    28.553982
2017-02-05    29.662543
Freq: W-SUN, Name: Close, dtype: float64

We can also aggregate the data by month with max:

In [ ]:
aapl.resample('M').max()

Date
2017-01-31    28.739218
2017-02-28    32.451969
2017-03-31    34.111141
2017-04-30    34.264977
2017-05-31    37.099133
2017-06-30    36.944649
2017-07-31    36.471699
2017-08-31    39.129719
2017-09-30    39.141655
2017-10-31    40.332241
2017-11-30    42.050140
2017-12-31    42.244392
Freq: M, Name: Close, dtype: float64

We can choose almost any frequency by using the format 'nf', where 'n' is an integer and 'f' is M for month, W for week and D for day.

In [ ]:
three_day = aapl.resample('3D').mean()
two_week = aapl.resample('2W').mean()
two_month = aapl.resample('2M').mean()


print(three_day)
print(two_week)
print(two_month )

Date
2017-01-03    27.398286
2017-01-06    27.787132
2017-01-09    28.110774
2017-01-12    28.078175
2017-01-15    28.279665
                ...
2017-12-17    42.019310
2017-12-20    41.854095
2017-12-23          NaN
2017-12-26    40.886700
2017-12-29    40.522736
Freq: 3D, Name: Close, Length: 121, dtype: float64
Date
2017-01-08    27.495497
2017-01-22    28.172571
2017-02-05    29.108263
2017-02-19    31.516817
2017-03-05    32.595556
2017-03-19    33.017881
2017-04-02    33.625218
2017-04-16    33.849726
2017-04-30    33.791843
2017-05-14    35.697633
2017-05-28    36.496181
2017-06-11    36.515007
2017-06-25    34.529047
2017-07-09    34.265135
2017-07-23    35.278873
2017-08-06    36.272775
2017-08-20    37.904119
2017-09-03    38.458793
2017-09-17    38.282708
2017-10-01    36.840876
2017-10-15    37.071593
2017-10-29    37.757321
2017-11-12    41.032237
2017-11-26    41.204375
2017-12-10    40.867067
2017-12-24    41.620866
2018-01-07    40.795709
Freq: 2W-SUN, Name: Close, dtype: float64
Date
2017-01-31    28.178332
2017-03-31    32.524054
2017-05-31    35.056855
2017-07-31    35.186964
2017-09-30    37.761187
2017-11-30    39.402611
2018-01-31    41.160038
Freq: 2M, Name: Close, dtype: float64

Besides the mean() method, other methods can also be used with the resampler:

In [ ]:
std = aapl.resample('W').std()
max = aapl.resample('W').max()
min = aapl.resample('W').min()


print(std)
print(max)
print(min)

Date
2017-01-08    0.203368
2017-01-15    0.072530
2017-01-22    0.025554
2017-01-29    0.245288
2017-02-05    0.943260
2017-02-12    0.252001
2017-02-19    0.231394
2017-02-26    0.059345
2017-03-05    0.340094
2017-03-12    0.076284
2017-03-19    0.177834
2017-03-26    0.157262
2017-04-02    0.319806
2017-04-09    0.128689
2017-04-16    0.212476
2017-04-23    0.174672
2017-04-30    0.090027
2017-05-07    0.235639
2017-05-14    0.352980
2017-05-21    0.536091
2017-05-28    0.060392
2017-06-04    0.281225
2017-06-11    0.620034
2017-06-18    0.382564
2017-06-25    0.128893
2017-07-02    0.264113
2017-07-09    0.158890
2017-07-16    0.404281
2017-07-23    0.124988
2017-07-30    0.384441
2017-08-06    0.924388
2017-08-13    0.467469
2017-08-20    0.435251
2017-08-27    0.275762
2017-09-03    0.251722
2017-09-10    0.381637
2017-09-17    0.294141
2017-09-24    0.735195
2017-10-01    0.354840
2017-10-08    0.204857
2017-10-15    0.118733
2017-10-22    0.517001
2017-10-29    0.680452
2017-11-05    0.560686
2017-11-12    0.190971
2017-11-19    0.436199
2017-11-26    0.563047
2017-12-03    0.427439
2017-12-10    0.073130
2017-12-17    0.205266
2017-12-24    0.194120
2017-12-31    0.190390
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.787132
2017-01-15    28.220753
2017-01-22    28.279665
2017-01-29    28.739218
2017-02-05    30.419493
2017-02-12    31.341911
2017-02-19    32.122974
2017-02-26    32.451969
2017-03-05    33.086281
2017-03-12    33.022373
2017-03-19    33.299305
2017-03-26    33.481544
2017-04-02    34.111141
2017-04-09    34.264977
2017-04-16    33.886284
2017-04-23    33.713501
2017-04-30    34.208179
2017-05-07    35.256695
2017-05-14    37.099133
2017-05-21    37.004063
2017-05-28    36.597664
2017-06-04    36.944649
2017-06-11    36.925632
2017-06-18    34.838963
2017-06-25    34.779545
2017-07-02    34.658337
2017-07-09    34.266190
2017-07-16    35.421230
2017-07-23    35.891800
2017-07-30    36.471699
2017-08-06    37.346291
2017-08-13    38.277939
2017-08-20    38.557095
2017-08-27    38.170567
2017-09-03    39.141655
2017-09-10    38.671623
2017-09-17    38.533234
2017-09-24    37.872326
2017-10-01    36.798645
2017-10-08    37.075409
2017-10-15    37.457165
2017-10-22    38.287479
2017-10-29    38.903053
2017-11-05    41.157795
2017-11-12    42.050140
2017-11-19    41.657745
2017-11-26    41.897190
2017-12-03    41.686470
2017-12-10    40.659222
2017-12-17    41.657745
2017-12-24    42.244392
2017-12-31    40.965721
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.341724
2017-01-15    28.041645
2017-01-22    28.227821
2017-01-29    28.272598
2017-02-05    28.597816
2017-02-12    30.704651
2017-02-19    31.547823
2017-02-26    32.314690
2017-03-05    32.409355
2017-03-12    32.823563
2017-03-19    32.896942
2017-03-26    33.098122
2017-04-02    33.344276
2017-04-09    33.926514
2017-04-16    33.384510
2017-04-23    33.296936
2017-04-30    33.997528
2017-05-07    34.681545
2017-05-14    36.215267
2017-05-21    35.708805
2017-05-28    36.443184
2017-06-04    36.305332
2017-06-11    35.406971
2017-06-18    33.812263
2017-06-25    34.463455
2017-07-02    34.147358
2017-07-09    33.921577
2017-07-16    34.475338
2017-07-23    35.544815
2017-07-30    35.530552
2017-08-06    35.347557
2017-08-13    37.058720
2017-08-20    37.578846
2017-08-27    37.509666
2017-09-03    38.526081
2017-09-10    37.848465
2017-09-17    37.764950
2017-09-24    36.240326
2017-10-01    35.920620
2017-10-08    36.619694
2017-10-15    37.182777
2017-10-22    37.216179
2017-10-29    37.261517
2017-11-05    39.778702
2017-11-12    41.575333
2017-11-19    40.486816
2017-11-26    40.702312
2017-12-03    40.582603
2017-12-10    40.470051
2017-12-17    41.114185
2017-12-24    41.748734
2017-12-31    40.522736
Freq: W-SUN, Name: Close, dtype: float64

Often we want to calculate monthly returns of a stock, based on prices on the last day of each month. To fetch those prices, we use the series.resample.agg() method:

In [ ]:
last_day = aapl.resample('M').agg(lambda x: x[-1])
print(last_day)

Date
2017-01-31    28.597816
2017-02-28    32.423561
2017-03-31    34.002254
2017-04-30    33.999889
2017-05-31    36.305332
2017-06-30    34.228172
2017-07-31    35.347557
2017-08-31    39.129719
2017-09-30    36.772392
2017-10-31    40.332241
2017-11-30    41.150097
2017-12-31    40.522736
Freq: M, Name: Close, dtype: float64

Or directly calculate the monthly rates of return using the data for the first day and the last day:

In [ ]:
monthly_return = aapl.resample('M').agg(lambda x: x[-1]/x[0] - 1)
print(monthly_return)

Date
2017-01-31    0.044770
2017-02-28    0.068613
2017-03-31    0.027684
2017-04-30   -0.000348
2017-05-31    0.046463
2017-06-30   -0.059799
2017-07-31    0.036446
2017-08-31    0.097261
2017-09-30   -0.060530
2017-10-31    0.099018
2017-11-30    0.033422
2017-12-31   -0.010640
Freq: M, Name: Close, dtype: float64

Series object also provides us some convenient methods to do some quick calculation.

In [ ]:
print(monthly_return.mean())
print(monthly_return.std())
print(monthly_return.max())

0.02686331860727394
0.052258487776588924
0.09901841642506737

Another two methods frequently used on Series are .diff() and .pct_change(). The former calculates the difference between consecutive elements, and the latter calculates the percentage change.

In [ ]:
print(last_day.diff())
print(last_day.pct_change())

Date
2017-01-31         NaN
2017-02-28    3.825745
2017-03-31    1.578693
2017-04-30   -0.002365
2017-05-31    2.305443
2017-06-30   -2.077160
2017-07-31    1.119385
2017-08-31    3.782162
2017-09-30   -2.357327
2017-10-31    3.559849
2017-11-30    0.817856
2017-12-31   -0.627361
Freq: M, Name: Close, dtype: float64
Date
2017-01-31         NaN
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

Notice that we induced a NaN value while calculating percentage changes i.e. returns.

When dealing with NaN values, we usually either removing the data point or fill it with a specific value. Here we fill it with 0:

In [ ]:
daily_return = last_day.pct_change()
print(daily_return.fillna(0))

Date
2017-01-31    0.000000
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

Alternatively, we can fill a NaN with the next fitted value. This is called 'backward fill', or 'bfill' in short:

In [ ]:
daily_return = last_day.pct_change()
print(daily_return.fillna(method = 'bfill'))

Date
2017-01-31    0.133778
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

As expected, since there is a 'backward fill' method, there must be a 'forward fill' method, or 'ffill' in short. However we can't use it here because the NaN is the first value.

We can also simply remove NaN values by **_.dropna()_**

In [ ]:
daily_return = last_day.pct_change()
daily_return.dropna()

Date
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

# DataFrame
The **DataFrame** is the most commonly used data structure in Pandas. It is essentially a table, just like an Excel spreadsheet.

More precisely, a DataFrame is a collection of Series objects, each of which may contain different data types. A DataFrame can be created from various data types: dictionary, 2-D numpy.ndarray, a Series or another DataFrame.

## Create DataFrames
The most common method of creating a DataFrame is passing a dictionary:

In [ ]:
import pandas as pd

dict = {'AAPL': [143.5, 144.09, 142.73, 144.18, 143.77],'GOOG':[898.7, 911.71, 906.69, 918.59, 926.99],
        'IBM':[155.58, 153.67, 152.36, 152.94, 153.49]}
data_index = pd.date_range('2017-07-03',periods = 5, freq = 'D')
df = pd.DataFrame(dict, index = data_index)
print(df)

              AAPL    GOOG     IBM
2017-07-03  143.50  898.70  155.58
2017-07-04  144.09  911.71  153.67
2017-07-05  142.73  906.69  152.36
2017-07-06  144.18  918.59  152.94
2017-07-07  143.77  926.99  153.49

## Manipulating DataFrames
We can fetch values in a DataFrame by columns and index. Each column in a DataFrame is essentially a Pandas Series. We can fetch a column by square brackets: **df['column_name']**

If a column name contains no spaces, then we can also use df.column_name to fetch a column:

In [ ]:
df = aapl_table
print(df.Close.tail(5))
print(df['Volume'].tail(5))

Date
2017-12-22    41.906776
2017-12-26    40.843601
2017-12-27    40.850777
2017-12-28    40.965721
2017-12-29    40.522736
Name: Close, dtype: float64
Date
2017-12-22     65397600
2017-12-26    132742000
2017-12-27     85992800
2017-12-28     65920800
2017-12-29    103999600
Name: Volume, dtype: int64

All the methods we applied to a Series index such as iloc[], loc[] and resampling methods, can also be applied to a DataFrame:

In [ ]:
aapl_2016 = df['2016']
aapl_month = aapl_2016.resample('M').agg(lambda x: x[-1])
print(aapl_month)

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2016-01-31  21.852388  22.440250  21.750952  ...  257666000        0.0             0
2016-02-29  22.450761  22.768308  22.402086  ...  140865200        0.0             0
2016-03-31  25.431520  25.473242  25.236819  ...  103553600        0.0             0
2016-04-30  21.785529  21.954734  21.442488  ...  274126000        0.0             0
2016-05-31  23.226409  23.412967  23.044516  ...  169228800        0.0             0
2016-06-30  22.023112  22.333262  21.990464  ...  143345600        0.0             0
2016-07-31  24.296780  24.380731  24.177849  ...  110934800        0.0             0
2016-08-31  24.773054  24.986412  24.768364  ...  118649600        0.0             0
2016-09-30  26.367388  26.580747  26.212645  ...  145516400        0.0             0
2016-10-31  26.646396  26.782384  26.540888  ...  105677600        0.0             0
2016-11-30  26.300094  26.441492  25.986660  ...  144649200        0.0             0
2016-12-31  27.490193  27.619807  27.202683  ...  122345200        0.0             0

[12 rows x 7 columns]

We may select certain columns of a DataFrame using their names:

In [ ]:
aapl_bar = aapl_month[['Open', 'High', 'Low', 'Close']]
print(aapl_bar)

                 Open       High        Low      Close
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250
2016-02-29  22.450761  22.768308  22.402086  22.411358
2016-03-31  25.431520  25.473242  25.236819  25.262316
2016-04-30  21.785529  21.954734  21.442488  21.727583
2016-05-31  23.226409  23.412967  23.044516  23.287041
2016-06-30  22.023112  22.333262  21.990464  22.293619
2016-07-31  24.296780  24.380731  24.177849  24.301443
2016-08-31  24.773054  24.986412  24.768364  24.876215
2016-09-30  26.367388  26.580747  26.212645  26.505720
2016-10-31  26.646396  26.782384  26.540888  26.620605
2016-11-30  26.300094  26.441492  25.986660  26.045576
2016-12-31  27.490193  27.619807  27.202683  27.294592

We can even specify both rows and columns using loc[]. The row indices and column names are separated by a comma:

In [ ]:
print(aapl_month.loc['2016-03':'2016-06',['Open', 'High', 'Low', 'Close']])

                 Open       High        Low      Close
Date
2016-03-31  25.431520  25.473242  25.236819  25.262316
2016-04-30  21.785529  21.954734  21.442488  21.727583
2016-05-31  23.226409  23.412967  23.044516  23.287041
2016-06-30  22.023112  22.333262  21.990464  22.293619

The subset methods in DataFrame is quite useful. By writing logical statements in square brackets, we can make customized subsets:

In [ ]:
import numpy as np

above = aapl_bar[aapl_bar.Close > np.mean(aapl_bar.Close)]
print(above)

                 Open       High        Low      Close
Date
2016-03-31  25.431520  25.473242  25.236819  25.262316
2016-08-31  24.773054  24.986412  24.768364  24.876215
2016-09-30  26.367388  26.580747  26.212645  26.505720
2016-10-31  26.646396  26.782384  26.540888  26.620605
2016-11-30  26.300094  26.441492  25.986660  26.045576
2016-12-31  27.490193  27.619807  27.202683  27.294592

## Data Validation
As mentioned, all methods that apply to a Series can also be applied to a DataFrame. Here we add a new column to an existing DataFrame:

In [ ]:
aapl_bar['rate_return'] = aapl_bar.Close.pct_change()
print(aapl_bar)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250          NaN
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

Here the calculation introduced a NaN value. If the DataFrame is large, we would not be able to observe it. **isnull()** provides a convenient way to check abnormal values.

In [ ]:
missing = aapl_bar.isnull()
print(missing)
print('---------------------------------------------')
print(missing.describe())

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True
2016-02-29  False  False  False  False        False
2016-03-31  False  False  False  False        False
2016-04-30  False  False  False  False        False
2016-05-31  False  False  False  False        False
2016-06-30  False  False  False  False        False
2016-07-31  False  False  False  False        False
2016-08-31  False  False  False  False        False
2016-09-30  False  False  False  False        False
2016-10-31  False  False  False  False        False
2016-11-30  False  False  False  False        False
2016-12-31  False  False  False  False        False
---------------------------------------------
         Open   High    Low  Close rate_return
count      12     12     12     12          12
unique      1      1      1      1           2
top     False  False  False  False       False
freq       12     12     12     12          11

The row labelled "unique" indicates the number of unique values in each column. Since the "rate_return" column has 2 unique values, it has at least one missing value.

We can deduce the number of missing values by comparing "count" with "freq". There are 12 counts and 11 False values, so there is one True value which corresponds to the missing value.

We can also find the rows with missing values easily:

In [ ]:
print(missing[missing.rate_return == True])

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True

Usually when dealing with missing data, we either delete the whole row or fill it with some value. As we introduced in the Series chapter, the same method **dropna()** and **fillna()** can be applied to a DataFrame.

In [ ]:
drop = aapl_bar.dropna()
print(drop)
print('\n--------------------------------------------------\n')
fill = aapl_bar.fillna(0)
print(fill)

                 Open       High        Low      Close  rate_return
Date
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955

--------------------------------------------------

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250     0.000000
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955

## DataFrame Concat
We have seen how to extract a Series from a dataFrame. Now we need to consider how to merge a Series or a DataFrame into another one.

In Pandas, the function **concat()** allows us to merge multiple Series into a DataFrame:

In [ ]:
s1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77], name = 'AAPL')
s2 = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99], name = 'GOOG')
data_frame = pd.concat([s1,s2], axis = 1)
print(data_frame)

     AAPL    GOOG
0  143.50  898.70
1  144.09  911.71
2  142.73  906.69
3  144.18  918.59
4  143.77  926.99

The "axis = 1" parameter will join two DataFrames by columns:

In [ ]:
log_price = np.log(aapl_bar.Close)
log_price.name = 'log_price'
print(log_price)
print('\n---------------------- separate line--------------------\n')
concat = pd.concat([aapl_bar, log_price], axis = 1)
print(concat)

Date
2016-01-31    3.110856
2016-02-29    3.109568
2016-03-31    3.229314
2016-04-30    3.078583
2016-05-31    3.147897
2016-06-30    3.104301
2016-07-31    3.190536
2016-08-31    3.213912
2016-09-30    3.277361
2016-10-31    3.281686
2016-11-30    3.259848
2016-12-31    3.306689
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

                 Open       High        Low      Close  rate_return  log_price
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250          NaN   3.110856
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288   3.109568
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210   3.229314
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921   3.078583
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773   3.147897
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660   3.104301
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063   3.190536
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652   3.213912
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505   3.277361
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334   3.281686
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601   3.259848
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955   3.306689

We can also join two DataFrames by rows. Consider these two DataFrames:

In [ ]:
df_volume = aapl_table.loc['2016-10':'2017-04',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(df_volume)
print('\n---------------------- separate line--------------------\n')
df_2017 = aapl_table.loc['2016-10':'2017-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df_2017)

               Volume  Stock Splits
Date
2016-10-31  105677600             0
2016-11-30  144649200             0
2016-12-31  122345200             0
2017-01-31  196804000             0
2017-02-28   93931600             0
2017-03-31   78646800             0
2017-04-30   83441600             0

---------------------- separate line--------------------

                 Open       High        Low      Close
Date
2016-10-31  26.646396  26.782384  26.540888  26.620605
2016-11-30  26.300094  26.441492  25.986660  26.045576
2016-12-31  27.490193  27.619807  27.202683  27.294592
2017-01-31  28.550684  28.607243  28.425783  28.597816
2017-02-28  32.444862  32.530069  32.354920  32.423561
2017-03-31  34.016455  34.146633  33.848407  34.002254
2017-04-30  34.104032  34.153737  33.909951  33.999889

Now we merge the DataFrames with our DataFrame 'aapl_bar'

In [ ]:
concat = pd.concat([aapl_bar, df_volume], axis = 1)
print(concat)

                 Open       High  ...       Volume  Stock Splits
Date                              ...
2016-01-31  21.852388  22.440250  ...          NaN           NaN
2016-02-29  22.450761  22.768308  ...          NaN           NaN
2016-03-31  25.431520  25.473242  ...          NaN           NaN
2016-04-30  21.785529  21.954734  ...          NaN           NaN
2016-05-31  23.226409  23.412967  ...          NaN           NaN
2016-06-30  22.023112  22.333262  ...          NaN           NaN
2016-07-31  24.296780  24.380731  ...          NaN           NaN
2016-08-31  24.773054  24.986412  ...          NaN           NaN
2016-09-30  26.367388  26.580747  ...          NaN           NaN
2016-10-31  26.646396  26.782384  ...  105677600.0           0.0
2016-11-30  26.300094  26.441492  ...  144649200.0           0.0
2016-12-31  27.490193  27.619807  ...  122345200.0           0.0
2017-01-31        NaN        NaN  ...  196804000.0           0.0
2017-02-28        NaN        NaN  ...   93931600.0           0.0
2017-03-31        NaN        NaN  ...   78646800.0           0.0
2017-04-30        NaN        NaN  ...   83441600.0           0.0

[16 rows x 7 columns]

By default the DataFrame are joined with all of the data. This default options results in zero information loss. We can also merge them by intersection, this is called 'inner join

In [ ]:
concat = pd.concat([aapl_bar,df_volume],axis = 1, join = 'inner')
print(concat)

                 Open       High  ...     Volume  Stock Splits
Date                              ...
2016-10-31  26.646396  26.782384  ...  105677600             0
2016-11-30  26.300094  26.441492  ...  144649200             0
2016-12-31  27.490193  27.619807  ...  122345200             0

[3 rows x 7 columns]

Only the intersection part was left if use 'inner join' method. Now let's try to append a DataFrame to another one:

In [ ]:
append = aapl_bar.append(df_2017)
print(append)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250          NaN
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955
2016-10-31  26.646396  26.782384  26.540888  26.620605          NaN
2016-11-30  26.300094  26.441492  25.986660  26.045576          NaN
2016-12-31  27.490193  27.619807  27.202683  27.294592          NaN
2017-01-31  28.550684  28.607243  28.425783  28.597816          NaN
2017-02-28  32.444862  32.530069  32.354920  32.423561          NaN
2017-03-31  34.016455  34.146633  33.848407  34.002254          NaN
2017-04-30  34.104032  34.153737  33.909951  33.999889          NaN

'Append' is essentially to concat two DataFrames by axis = 0, thus here is an alternative way to append:

In [ ]:
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250          NaN
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955
2016-10-31  26.646396  26.782384  26.540888  26.620605          NaN
2016-11-30  26.300094  26.441492  25.986660  26.045576          NaN
2016-12-31  27.490193  27.619807  27.202683  27.294592          NaN
2017-01-31  28.550684  28.607243  28.425783  28.597816          NaN
2017-02-28  32.444862  32.530069  32.354920  32.423561          NaN
2017-03-31  34.016455  34.146633  33.848407  34.002254          NaN
2017-04-30  34.104032  34.153737  33.909951  33.999889          NaN

Please note that if the two DataFrame have some columns with the same column names, these columns are considered to be the same and will be merged. It's very important to have the right column names. If we change a column names here:

In [ ]:
df_2017.columns = ['Change', 'High','Low','Close']
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return     Change
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250          NaN        NaN
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288        NaN
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210        NaN
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921        NaN
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773        NaN
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660        NaN
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063        NaN
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652        NaN
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505        NaN
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334        NaN
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601        NaN
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955        NaN
2016-10-31        NaN  26.782384  26.540888  26.620605          NaN  26.646396
2016-11-30        NaN  26.441492  25.986660  26.045576          NaN  26.300094
2016-12-31        NaN  27.619807  27.202683  27.294592          NaN  27.490193
2017-01-31        NaN  28.607243  28.425783  28.597816          NaN  28.550684
2017-02-28        NaN  32.530069  32.354920  32.423561          NaN  32.444862
2017-03-31        NaN  34.146633  33.848407  34.002254          NaN  34.016455
2017-04-30        NaN  34.153737  33.909951  33.999889          NaN  34.104032

Since the column name of 'Open' has been changed, the new DataFrame has an new column named 'Change'.

# Summary

Hereby we introduced the most import part of python: resampling and DataFrame manipulation. We only introduced the most commonly used method in Financial data analysis. There are also many methods used in data mining, which are also beneficial. You can always check the [Pandas](https://pandas.pydata.org/pandas-docs/stable/index.html) official documentations for help.